node_modules
npm-debug.log
build
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
coverage
.eslintrc.json
.prettierrc
jest.config.js
.vscode
.idea
*.md
public/manifest.json
public/robots.txt
